# 1 读入数据

In [3]:
import pandas as pd
import numpy as np

movies = pd.read_csv('../data/movietweetings/movies.dat', delimiter='::',
                     engine='python', header=None, names=['Movie ID', 'Movie Title', 'Genre'])
print(movies.head(10))
users = pd.read_csv('../data/movietweetings/users.dat', delimiter='::',
                    engine='python', header=None, names=['User ID', 'Twitter ID'])
print(users.head(10))
ratings = pd.read_csv('../data/movietweetings/ratings.dat', delimiter='::', engine='python',
                      header=None, names=['User ID', 'Movie ID', 'Rating', 'Rating Timestamp'])

print(ratings.head(10))

   Movie ID                                        Movie Title  \
0         8      Edison Kinetoscopic Record of a Sneeze (1894)
1        10                La sortie des usines Lumi猫re (1895)
2        12                      The Arrival of a Train (1896)
3        25  The Oxford and Cambridge University Boat Race ...
4        91                         Le manoir du diable (1896)
5       131                           Une nuit terrible (1896)
6       417                      Le voyage dans la lune (1902)
7       439                     The Great Train Robbery (1903)
8       443        Hiawatha, the Messiah of the Ojibway (1903)
9       628                    The Adventures of Dollie (1908)

                                          Genre
0                             Documentary|Short
1                             Documentary|Short
2                             Documentary|Short
3                                           NaN
4                                  Short|Horror
5                           Short|Comedy|Horror
6  Short|Action|Adventure|Comedy|Fantasy|Sci-Fi
7                    Short|Action|Crime|Western
8                                           NaN
9                                  Action|Short
   User ID  Twitter ID
0        1   397291295
1        2    40501255
2        3   417333257
3        4   138805259
4        5  2452094989
5        6   391774225
6        7    47317010
7        8    84541461
8        9  2445803544
9       10   995885060
   User ID  Movie ID  Rating  Rating Timestamp
0        1    111161      10        1373234211
1        1    117060       7        1373415231
2        1    120755       6        1373424360
3        1    317919       6        1373495763
4        1    454876      10        1373621125
5        1    790724       8        1374641320
6        1    882977       8        1372898763
7        1   1229238       9        1373506523
8        1   1288558       5        1373154354
9        1   1300854       8        1377165712

In [4]:
movies[movies['Movie ID']==111161]

      Movie ID                      Movie Title  Genre
8419    111161  The Shawshank Redemption (1994)  Drama

### 2 找出喜剧(comedy)

In [5]:
mask = movies.Genre.str.contains('comedy', case=False, na=False)
print(mask.head(10))
comedy = movies[mask]
comedy_ids = comedy['Movie ID']
print(comedy_ids.head(10))

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7    False
8    False
9    False
Name: Genre, dtype: bool
5      131
6      417
15    2354
18    3863
19    4099
20    4100
21    4101
22    4210
23    4395
25    4518
Name: Movie ID, dtype: int64

### 3 关联rating表

In [6]:
combine = ratings.join(comedy, on='Movie ID', rsuffix='2') ### BUG BUG BUG!!!!!!
print(combine.head(10))

   User ID  Movie ID  Rating  Rating Timestamp  Movie ID2 Movie Title Genre
0        1    111161      10        1373234211        NaN         NaN   NaN
1        1    117060       7        1373415231        NaN         NaN   NaN
2        1    120755       6        1373424360        NaN         NaN   NaN
3        1    317919       6        1373495763        NaN         NaN   NaN
4        1    454876      10        1373621125        NaN         NaN   NaN
5        1    790724       8        1374641320        NaN         NaN   NaN
6        1    882977       8        1372898763        NaN         NaN   NaN
7        1   1229238       9        1373506523        NaN         NaN   NaN
8        1   1288558       5        1373154354        NaN         NaN   NaN
9        1   1300854       8        1377165712        NaN         NaN   NaN

In [7]:
result = combine[pd.notnull(combine['Movie ID2'])]
print(result.head(10))

      User ID  Movie ID  Rating  Rating Timestamp  Movie ID2  \
347        53     31381       9        1362133907  5745450.0
593        69     33467       8        1440456538  7671064.0
3297      188     22279       8        1365438569  2140577.0
3599      228     33467       7        1537651137  7671064.0
4392      288     21749      10        1435980991  2061861.0
6047      501     31381       8        1381784126  5745450.0
6354      518     31381      10        1391099884  5745450.0
6409      520       417      10        1437579236    24852.0
6413      520     22100       9        1474939689  2112096.0
6415      520     23634       9        1460240847  2380331.0

                                  Movie Title                          Genre
347                               Chef (2017)            Comedy|Drama|Family
593           Brittany Runs A Marathon (2019)                   Comedy|Drama
3297                    The Pretty One (2013)                   Comedy|Drama
3599          Brittany Runs A Marathon (2019)                   Comedy|Drama
4392  You Really Fucked Me Back There. (2011)             Short|Comedy|Drama
6047                              Chef (2017)            Comedy|Drama|Family
6354                              Chef (2017)            Comedy|Drama|Family
6409                  Babes in Toyland (1934)  Comedy|Family|Fantasy|Musical
6413    Absolutely Fabulous: The Movie (2016)                   Comedy|Crime
6415                Words and Pictures (2013)           Comedy|Drama|Romance

为什么Movie ID2的类型变了？检查下

In [26]:
combine.dtypes

User ID               int64
Movie ID              int64
Rating                int64
Rating Timestamp      int64
Movie ID2           float64
Movie Title          object
Genre                object
dtype: object

In [27]:
help(ratings.join)

Help on method join in module pandas.core.frame:

join(other, on=None, how='left', lsuffix='', rsuffix='', sort=False) method of pandas.core.frame.DataFrame instance
    Join columns with other DataFrame either on index or on a key
    column. Efficiently Join multiple DataFrame objects by index at once by
    passing a list.

    Parameters
    ----------
    other : DataFrame, Series with name field set, or list of DataFrame
        Index should be similar to one of the columns in this one. If a
        Series is passed, its name attribute must be set, and that will be
        used as the column name in the resulting joined DataFrame
    on : column name, tuple/list of column names, or array-like
        Column(s) in the caller to join on the index in other,
        otherwise joins index-on-index. If multiples
        columns given, the passed DataFrame must have a MultiIndex. Can
        pass an array as the join key if not already contained in the
        calling DataFrame. Like an Excel VLOOKUP operation
    how : {'left', 'right', 'outer', 'inner'}, default: 'left'
        How to handle the operation of the two objects.

        * left: use calling frame's index (or column if on is specified)
        * right: use other frame's index
        * outer: form union of calling frame's index (or column if on is
          specified) with other frame's index, and sort it
          lexicographically
        * inner: form intersection of calling frame's index (or column if
          on is specified) with other frame's index, preserving the order
          of the calling's one
    lsuffix : string
        Suffix to use from left frame's overlapping columns
    rsuffix : string
        Suffix to use from right frame's overlapping columns
    sort : boolean, default False
        Order result DataFrame lexicographically by the join key. If False,
        the order of the join key depends on the join type (how keyword)

    Notes
    -----
    on, lsuffix, and rsuffix options are not supported when passing a list
    of DataFrame objects

    Examples
    --------
    >>> caller = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'],
    ...                        'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})

    >>> caller
        A key
    0  A0  K0
    1  A1  K1
    2  A2  K2
    3  A3  K3
    4  A4  K4
    5  A5  K5

    >>> other = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
    ...                       'B': ['B0', 'B1', 'B2']})

    >>> other
        B key
    0  B0  K0
    1  B1  K1
    2  B2  K2

    Join DataFrames using their indexes.

    >>> caller.join(other, lsuffix='_caller', rsuffix='_other')

    >>>     A key_caller    B key_other
        0  A0         K0   B0        K0
        1  A1         K1   B1        K1
        2  A2         K2   B2        K2
        3  A3         K3  NaN       NaN
        4  A4         K4  NaN       NaN
        5  A5         K5  NaN       NaN


    If we want to join using the key columns, we need to set key to be
    the index in both caller and other. The joined DataFrame will have
    key as its index.

    >>> caller.set_index('key').join(other.set_index('key'))

    >>>      A    B
        key
        K0   A0   B0
        K1   A1   B1
        K2   A2   B2
        K3   A3  NaN
        K4   A4  NaN
        K5   A5  NaN

    Another option to join using the key columns is to use the on
    parameter. DataFrame.join always uses other's index but we can use any
    column in the caller. This method preserves the original caller's
    index in the result.

    >>> caller.join(other.set_index('key'), on='key')

    >>>     A key    B
        0  A0  K0   B0
        1  A1  K1   B1
        2  A2  K2   B2
        3  A3  K3  NaN
        4  A4  K4  NaN
        5  A5  K5  NaN


    See also
    --------
    DataFrame.merge : For column(s)-on-columns(s) operations

    Returns
    -------
    joined : DataFrame

In [29]:
print(comedy[comedy['Movie ID']==24852])

     Movie ID              Movie Title                          Genre
417     24852  Babes in Toyland (1934)  Comedy|Family|Fantasy|Musical

出现一个坑：

join链接时，ratings表Movie ID 字段与 comedy表Index建立关系

大坑！
改

以上是官档中一句话：

DataFrame.join always uses other’s index

In [8]:
combine = ratings.join(comedy.set_index('Movie ID'), on='Movie ID')
print(combine.head(10))

   User ID  Movie ID  Rating  Rating Timestamp Movie Title Genre
0        1    111161      10        1373234211         NaN   NaN
1        1    117060       7        1373415231         NaN   NaN
2        1    120755       6        1373424360         NaN   NaN
3        1    317919       6        1373495763         NaN   NaN
4        1    454876      10        1373621125         NaN   NaN
5        1    790724       8        1374641320         NaN   NaN
6        1    882977       8        1372898763         NaN   NaN
7        1   1229238       9        1373506523         NaN   NaN
8        1   1288558       5        1373154354         NaN   NaN
9        1   1300854       8        1377165712         NaN   NaN

In [10]:
result = combine[pd.notnull(combine['Genre'])]
print(result.head(5))

    User ID  Movie ID  Rating  Rating Timestamp             Movie Title  \
12        1   1588173       9        1372821281      Warm Bodies (2013)
13        1   1711425       3        1372604878        21 & Over (2013)
14        1   2024432       8        1372703553   Identity Thief (2013)
17        1   2101441       1        1372633473  Spring Breakers (2012)
28        2   1431045       7        1457733508         Deadpool (2016)

                             Genre
12           Comedy|Horror|Romance
13                          Comedy
14    Adventure|Comedy|Crime|Drama
17              Comedy|Crime|Drama
28  Action|Adventure|Comedy|Sci-Fi

再演证下

拿Movie ID 1588173 到 comdey表中查看

In [11]:
comedy[comedy['Movie ID']==1588173]

       Movie ID         Movie Title                  Genre
19131   1588173  Warm Bodies (2013)  Comedy|Horror|Romance

可以看到comedy表中Movie ID 与 ratings表 中一致

验证通过！

### 4 按照Movie ID 分组

In [12]:
score_as_movie = result.groupby('Movie ID').mean()

In [7]:
score_as_movie.dtypes

User ID             float64
Rating              float64
Rating Timestamp    float64
dtype: object

In [41]:
print(score_as_movie.head())

               User ID  Rating  Rating Timestamp
Movie ID
131       34861.000000     7.0      1.540639e+09
417       34121.409091     8.5      1.458680e+09
2354       6264.000000     8.0      1.456343e+09
3863      43803.000000    10.0      1.430439e+09
4099      25084.500000     7.0      1.450323e+09

验证下

In [51]:
mv417 = ratings[ratings['Movie ID']==417]
print(mv417)

In [55]:
mv417['Rating'].mean()

8.5

验证OK

### 5 按照电影得分排序

In [13]:
sorted(score_as_movie,key='Rating',reverse=True)

TypeError: 'str' object is not callable

In [9]:
from collections import Iterable
isinstance(score_as_movie,Iterable)

True

还是用pandas提供的sort_values()

In [19]:
score_as_movie.sort_values(by='Rating', ascending = False,inplace=True)

In [20]:
bests = score_as_movie[score_as_movie['Rating']==10.0]

### 6 电影观看人数

In [18]:
watchs = result.groupby('Movie ID').agg(['count'])

In [17]:
print(watchs.head())

         User ID Rating Rating Timestamp Movie Title Genre
           count  count            count       count count
Movie ID
131            1      1                1           1     1
417           22     22               22          22    22
2354           1      1                1           1     1
3863           1      1                1           1     1
4099           2      2                2           2     2

In [24]:
watchs2 = watchs['Rating']['count']

In [41]:
print(watchs2.head())

Movie ID
131      1
417     22
2354     1
3863     1
4099     2
Name: count, dtype: int64

In [43]:
print(bests.head())

          User ID  Rating  Rating Timestamp
Movie ID
7134690   30110.0    10.0      1.524974e+09
3799996    2139.0    10.0      1.431606e+09
2381958   31836.0    10.0      1.395280e+09
2380390   37135.0    10.0      1.410507e+09
2379090   33877.0    10.0      1.372359e+09

### 7 满分电影中，按照观看次数排序

In [45]:
bests.index

Int64Index([7134690, 3799996, 2381958, 2380390, 2379090,  110852, 2377194,
            2375037,   45907, 2374002,
            ...
              50263, 4612116, 8242160,   75793, 1747960,   75744,   50818,
             184512, 1737122,   24316],
           dtype='int64', name='Movie ID', length=501)

In [47]:
watchs2.index

Int64Index([     131,      417,     2354,     3863,     4099,     4100,
                4101,     4210,     4395,     4518,
            ...
            10726756, 10737904, 10810424, 10847194, 10847306, 10847330,
            10895830, 10952752, 10971520, 10977680],
           dtype='int64', name='Movie ID', length=10740)

In [49]:
bests[bests.index==7134690]

          User ID  Rating  Rating Timestamp
Movie ID
7134690   30110.0    10.0      1.524974e+09

In [25]:
watchs2[watchs2.index==7134690]

Movie ID
7134690    1
Name: count, dtype: int64

In [26]:
bests_most = bests.join(watchs2)

In [27]:
bests_most.sort_values(by='count',ascending=False,inplace=True)

In [29]:
print(bests_most.head())

               User ID  Rating  Rating Timestamp  count
Movie ID
4921860   36898.187500    10.0      1.445855e+09     48
5262972   29330.607143    10.0      1.452208e+09     28
6662050   22627.409091    10.0      1.555754e+09     22
4448444   29148.600000    10.0      1.484094e+09      5
2254364   33191.750000    10.0      1.393409e+09      4

In [ ]:
count列为文章被评论次数，如果一部电影被评论次数过低，准确性的置信度就会大大降低。

In [56]:
movies[movies['Movie ID'] == 4921860]

       Movie ID                 Movie Title                        Genre
30004   4921860  MSG 2 the Messenger (2015)  Comedy|Drama|Fantasy|Horror