# 1 读入数据

In [1]:
import pandas as pd
import numpy as np

movies = pd.read_csv('./data/movietweetings/movies.dat', delimiter='::',
                     engine='python', header=None, names=['Movie ID', 'Movie Title', 'Genre'])
print(movies.head(10))
users = pd.read_csv('./data/movietweetings/users.dat', delimiter='::',
                    engine='python', header=None, names=['User ID', 'Twitter ID'])
print(users.head(10))
ratings = pd.read_csv('./data/movietweetings/ratings.dat', delimiter='::', engine='python',
                      header=None, names=['User ID', 'Movie ID', 'Rating', 'Rating Timestamp'])

print(ratings.head(10))

   Movie ID                                        Movie Title  \
0         8      Edison Kinetoscopic Record of a Sneeze (1894)
1        10                La sortie des usines Lumi猫re (1895)
2        12                      The Arrival of a Train (1896)
3        25  The Oxford and Cambridge University Boat Race ...
4        91                         Le manoir du diable (1896)
5       131                           Une nuit terrible (1896)
6       417                      Le voyage dans la lune (1902)
7       439                     The Great Train Robbery (1903)
8       443        Hiawatha, the Messiah of the Ojibway (1903)
9       628                    The Adventures of Dollie (1908)

                                          Genre
0                             Documentary|Short
1                             Documentary|Short
2                             Documentary|Short
3                                           NaN
4                                  Short|Horror
5                           Short|Comedy|Horror
6  Short|Action|Adventure|Comedy|Fantasy|Sci-Fi
7                    Short|Action|Crime|Western
8                                           NaN
9                                  Action|Short
   User ID  Twitter ID
0        1   397291295
1        2    40501255
2        3   417333257
3        4   138805259
4        5  2452094989
5        6   391774225
6        7    47317010
7        8    84541461
8        9  2445803544
9       10   995885060
   User ID  Movie ID  Rating  Rating Timestamp
0        1    111161      10        1373234211
1        1    117060       7        1373415231
2        1    120755       6        1373424360
3        1    317919       6        1373495763
4        1    454876      10        1373621125
5        1    790724       8        1374641320
6        1    882977       8        1372898763
7        1   1229238       9        1373506523
8        1   1288558       5        1373154354
9        1   1300854       8        1377165712

In [20]:
movies[movies['Movie ID']==111161]

      Movie ID                      Movie Title  Genre
8419    111161  The Shawshank Redemption (1994)  Drama

### 2 找出喜剧(comedy)

In [2]:
mask = movies.Genre.str.contains('comedy', case=False, na=False)
print(mask.head(10))
comedy = movies[mask]
comedy_ids = comedy['Movie ID']
print(comedy_ids.head(10))

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7    False
8    False
9    False
Name: Genre, dtype: bool
5      131
6      417
15    2354
18    3863
19    4099
20    4100
21    4101
22    4210
23    4395
25    4518
Name: Movie ID, dtype: int64

### 3 关联rating表

In [22]:
combine = ratings.join(comedy, on='Movie ID', rsuffix='2') ### BUG BUG BUG!!!!!!
print(combine.head(10))

   User ID  Movie ID  Rating  Rating Timestamp  Movie ID2 Movie Title Genre
0        1    111161      10        1373234211        NaN         NaN   NaN
1        1    117060       7        1373415231        NaN         NaN   NaN
2        1    120755       6        1373424360        NaN         NaN   NaN
3        1    317919       6        1373495763        NaN         NaN   NaN
4        1    454876      10        1373621125        NaN         NaN   NaN
5        1    790724       8        1374641320        NaN         NaN   NaN
6        1    882977       8        1372898763        NaN         NaN   NaN
7        1   1229238       9        1373506523        NaN         NaN   NaN
8        1   1288558       5        1373154354        NaN         NaN   NaN
9        1   1300854       8        1377165712        NaN         NaN   NaN

In [23]:
result = combine[pd.notnull(combine['Movie ID2'])]
print(result.head(10))

      User ID  Movie ID  Rating  Rating Timestamp  Movie ID2  \
347        53     31381       9        1362133907  5745450.0
593        69     33467       8        1440456538  7671064.0
3297      188     22279       8        1365438569  2140577.0
3599      228     33467       7        1537651137  7671064.0
4392      288     21749      10        1435980991  2061861.0
6047      501     31381       8        1381784126  5745450.0
6354      518     31381      10        1391099884  5745450.0
6409      520       417      10        1437579236    24852.0
6413      520     22100       9        1474939689  2112096.0
6415      520     23634       9        1460240847  2380331.0

                                  Movie Title                          Genre
347                               Chef (2017)            Comedy|Drama|Family
593           Brittany Runs A Marathon (2019)                   Comedy|Drama
3297                    The Pretty One (2013)                   Comedy|Drama
3599          Brittany Runs A Marathon (2019)                   Comedy|Drama
4392  You Really Fucked Me Back There. (2011)             Short|Comedy|Drama
6047                              Chef (2017)            Comedy|Drama|Family
6354                              Chef (2017)            Comedy|Drama|Family
6409                  Babes in Toyland (1934)  Comedy|Family|Fantasy|Musical
6413    Absolutely Fabulous: The Movie (2016)                   Comedy|Crime
6415                Words and Pictures (2013)           Comedy|Drama|Romance

为什么Movie ID2的类型变了？检查下

In [26]:
combine.dtypes

User ID               int64
Movie ID              int64
Rating                int64
Rating Timestamp      int64
Movie ID2           float64
Movie Title          object
Genre                object
dtype: object

In [27]:
help(ratings.join)

Help on method join in module pandas.core.frame:

join(other, on=None, how='left', lsuffix='', rsuffix='', sort=False) method of pandas.core.frame.DataFrame instance
    Join columns with other DataFrame either on index or on a key
    column. Efficiently Join multiple DataFrame objects by index at once by
    passing a list.

    Parameters
    ----------
    other : DataFrame, Series with name field set, or list of DataFrame
        Index should be similar to one of the columns in this one. If a
        Series is passed, its name attribute must be set, and that will be
        used as the column name in the resulting joined DataFrame
    on : column name, tuple/list of column names, or array-like
        Column(s) in the caller to join on the index in other,
        otherwise joins index-on-index. If multiples
        columns given, the passed DataFrame must have a MultiIndex. Can
        pass an array as the join key if not already contained in the
        calling DataFrame. Like an Excel VLOOKUP operation
    how : {'left', 'right', 'outer', 'inner'}, default: 'left'
        How to handle the operation of the two objects.

        * left: use calling frame's index (or column if on is specified)
        * right: use other frame's index
        * outer: form union of calling frame's index (or column if on is
          specified) with other frame's index, and sort it
          lexicographically
        * inner: form intersection of calling frame's index (or column if
          on is specified) with other frame's index, preserving the order
          of the calling's one
    lsuffix : string
        Suffix to use from left frame's overlapping columns
    rsuffix : string
        Suffix to use from right frame's overlapping columns
    sort : boolean, default False
        Order result DataFrame lexicographically by the join key. If False,
        the order of the join key depends on the join type (how keyword)

    Notes
    -----
    on, lsuffix, and rsuffix options are not supported when passing a list
    of DataFrame objects

    Examples
    --------
    >>> caller = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'],
    ...                        'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})

    >>> caller
        A key
    0  A0  K0
    1  A1  K1
    2  A2  K2
    3  A3  K3
    4  A4  K4
    5  A5  K5

    >>> other = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
    ...                       'B': ['B0', 'B1', 'B2']})

    >>> other
        B key
    0  B0  K0
    1  B1  K1
    2  B2  K2

    Join DataFrames using their indexes.

    >>> caller.join(other, lsuffix='_caller', rsuffix='_other')

    >>>     A key_caller    B key_other
        0  A0         K0   B0        K0
        1  A1         K1   B1        K1
        2  A2         K2   B2        K2
        3  A3         K3  NaN       NaN
        4  A4         K4  NaN       NaN
        5  A5         K5  NaN       NaN


    If we want to join using the key columns, we need to set key to be
    the index in both caller and other. The joined DataFrame will have
    key as its index.

    >>> caller.set_index('key').join(other.set_index('key'))

    >>>      A    B
        key
        K0   A0   B0
        K1   A1   B1
        K2   A2   B2
        K3   A3  NaN
        K4   A4  NaN
        K5   A5  NaN

    Another option to join using the key columns is to use the on
    parameter. DataFrame.join always uses other's index but we can use any
    column in the caller. This method preserves the original caller's
    index in the result.

    >>> caller.join(other.set_index('key'), on='key')

    >>>     A key    B
        0  A0  K0   B0
        1  A1  K1   B1
        2  A2  K2   B2
        3  A3  K3  NaN
        4  A4  K4  NaN
        5  A5  K5  NaN


    See also
    --------
    DataFrame.merge : For column(s)-on-columns(s) operations

    Returns
    -------
    joined : DataFrame

In [29]:
print(comedy[comedy['Movie ID']==24852])

     Movie ID              Movie Title                          Genre
417     24852  Babes in Toyland (1934)  Comedy|Family|Fantasy|Musical

出现一个坑：

join链接时，ratings表Movie ID 字段与 comedy表Index建立关系

大坑！
改

以上是官档中一句话：

DataFrame.join always uses other’s index

In [3]:
combine = ratings.join(comedy.set_index('Movie ID'), on='Movie ID')
print(combine.head(10))

   User ID  Movie ID  Rating  Rating Timestamp Movie Title Genre
0        1    111161      10        1373234211         NaN   NaN
1        1    117060       7        1373415231         NaN   NaN
2        1    120755       6        1373424360         NaN   NaN
3        1    317919       6        1373495763         NaN   NaN
4        1    454876      10        1373621125         NaN   NaN
5        1    790724       8        1374641320         NaN   NaN
6        1    882977       8        1372898763         NaN   NaN
7        1   1229238       9        1373506523         NaN   NaN
8        1   1288558       5        1373154354         NaN   NaN
9        1   1300854       8        1377165712         NaN   NaN

In [4]:
result = combine[pd.notnull(combine['Genre'])]
print(result.head(10))

    User ID  Movie ID  Rating  Rating Timestamp              Movie Title  \
12        1   1588173       9        1372821281       Warm Bodies (2013)
13        1   1711425       3        1372604878         21 & Over (2013)
14        1   2024432       8        1372703553    Identity Thief (2013)
17        1   2101441       1        1372633473   Spring Breakers (2012)
28        2   1431045       7        1457733508          Deadpool (2016)
32        2   1675434       8        1396688981  The Intouchables (2011)
36        2   2294629       8        1392455710            Frozen (2013)
37        2   2361509       8        1446837136        The Intern (2015)
40        2   2883512       8        1432407808              Chef (2014)
41        2   3079380       8        1433614454               Spy (2015)

                                                Genre
12                              Comedy|Horror|Romance
13                                             Comedy
14                       Adventure|Comedy|Crime|Drama
17                                 Comedy|Crime|Drama
28                     Action|Adventure|Comedy|Sci-Fi
32                             Biography|Comedy|Drama
36  Animation|Adventure|Comedy|Family|Fantasy|Musical
37                                       Comedy|Drama
40                             Adventure|Comedy|Drama
41                                Action|Comedy|Crime

再演证下

拿Movie ID 1588173 到 comdey表中查看

In [35]:
comedy[comedy['Movie ID']==1588173]

       Movie ID         Movie Title                  Genre
19131   1588173  Warm Bodies (2013)  Comedy|Horror|Romance

可以看到comedy表中Movie ID 与 ratings表 中一致

验证通过！

### 4 按照Movie ID 分组

In [5]:
score_as_movie = result.groupby('Movie ID').mean()

In [7]:
score_as_movie.dtypes

User ID             float64
Rating              float64
Rating Timestamp    float64
dtype: object

In [41]:
print(score_as_movie.head())

               User ID  Rating  Rating Timestamp
Movie ID
131       34861.000000     7.0      1.540639e+09
417       34121.409091     8.5      1.458680e+09
2354       6264.000000     8.0      1.456343e+09
3863      43803.000000    10.0      1.430439e+09
4099      25084.500000     7.0      1.450323e+09

验证下

In [51]:
mv417 = ratings[ratings['Movie ID']==417]
print(mv417)

In [55]:
mv417['Rating'].mean()

8.5

验证OK

### 5 按照电影得分排序

In [8]:
sorted(score_as_movie,key='Rating',reverse=True)

TypeError: 'str' object is not callable

In [60]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [9]:
from collections import Iterable
isinstance(score_as_movie,Iterable)

True

还是用pandas提供的sort_values()

In [15]:
score_as_movie.sort_values(by='Rating', ascending = False,inplace=True)

In [42]:
bests = score_as_movie[score_as_movie['Rating']==10.0]

In [20]:
len(score_as_movie)

10740

In [14]:
help(score_as_movie.sort_values)

Help on method sort_values in module pandas.core.frame:

sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last') method of pandas.core.frame.DataFrame instance
    Sort by the values along either axis

    .. versionadded:: 0.17.0

    Parameters
    ----------
    by : str or list of str
        Name or list of names which refer to the axis items.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Axis to direct sorting
    ascending : bool or list of bool, default True
         Sort ascending vs. descending. Specify list for multiple sort
         orders.  If this is a list of bools, must match the length of
         the by.
    inplace : bool, default False
         if True, perform operation in-place
    kind : {'quicksort', 'mergesort', 'heapsort'}, default 'quicksort'
         Choice of sorting algorithm. See also ndarray.np.sort for more
         information.  `mergesort` is the only stable algorithm. For
         DataFrames, this option is only applied when sorting on a single
         column or label.
    na_position : {'first', 'last'}, default 'last'
         `first` puts NaNs at the beginning, `last` puts NaNs at the end

    Returns
    -------
    sorted_obj : DataFrame

### 6 电影观看人数

In [31]:
help(result.groupby('Movie ID'))

Help on DataFrameGroupBy in module pandas.core.groupby object:

class DataFrameGroupBy(NDFrameGroupBy)
 |  Class for grouping and aggregating relational data. See aggregate,
 |  transform, and apply functions on this object.
 |
 |  It's easiest to use obj.groupby(...) to use GroupBy, but you can also do:
 |
 |  ::
 |
 |      grouped = groupby(obj, ...)
 |
 |  Parameters
 |  ----------
 |  obj : pandas object
 |  axis : int, default 0
 |  level : int, default None
 |      Level of MultiIndex
 |  groupings : list of Grouping objects
 |      Most users should ignore this
 |  exclusions : array-like, optional
 |      List of columns to exclude
 |  name : string
 |      Most users should ignore this
 |
 |  Notes
 |  -----
 |  After grouping, see aggregate, apply, and transform functions. Here are
 |  some other brief notes about usage. When grouping by multiple groups, the
 |  result index will be a MultiIndex (hierarchical) by default.
 |
 |  Iteration produces (key, group) tuples, i.e. chunking the data by group. So
 |  you can write code like:
 |
 |  ::
 |
 |      grouped = obj.groupby(keys, axis=axis)
 |      for key, group in grouped:
 |          # do something with the data
 |
 |  Function calls on GroupBy, if not specially implemented, "dispatch" to the
 |  grouped data. So if you group a DataFrame and wish to invoke the std()
 |  method on each group, you can simply do:
 |
 |  ::
 |
 |      df.groupby(mapper).std()
 |
 |  rather than
 |
 |  ::
 |
 |      df.groupby(mapper).aggregate(np.std)
 |
 |  You can pass arguments to these "wrapped" functions, too.
 |
 |  See the online documentation for full exposition on these topics and much
 |  more
 |
 |  Returns
 |  -------
 |  **Attributes**
 |  groups : dict
 |      {group name -> group labels}
 |  len(grouped) : int
 |      Number of groups
 |
 |  Method resolution order:
 |      DataFrameGroupBy
 |      NDFrameGroupBy
 |      GroupBy
 |      _GroupBy
 |      pandas.core.base.PandasObject
 |      pandas.core.base.StringMixin
 |      pandas.core.base.SelectionMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  agg = aggregate(self, arg, *args, **kwargs)
 |
 |  aggregate(self, arg, *args, **kwargs)
 |      Aggregate using callable, string, dict, or list of string/callables
 |
 |
 |
 |      Parameters
 |      ----------
 |      func : callable, string, dictionary, or list of string/callables
 |          Function to use for aggregating the data. If a function, must either
 |          work when passed a DataFrame or when passed to DataFrame.apply. For
 |          a DataFrame, can pass a dict, if the keys are DataFrame column names.
 |
 |          Accepted Combinations are:
 |
 |          - string function name
 |          - function
 |          - list of functions
 |          - dict of column names -> functions (or list of functions)
 |
 |      Notes
 |      -----
 |      Numpy functions mean/median/prod/sum/std/var are special cased so the
 |      default behavior is applying the function along axis=0
 |      (e.g., np.mean(arr_2d, axis=0)) as opposed to
 |      mimicking the default Numpy behavior (e.g., np.mean(arr_2d)).
 |
 |      agg is an alias for aggregate. Use it.
 |
 |      Returns
 |      -------
 |      aggregated : DataFrame
 |
 |      Examples
 |      --------
 |
 |      >>> df = pd.DataFrame({'A': [1, 1, 2, 2],
 |      ...                    'B': [1, 2, 3, 4],
 |      ...                    'C': np.random.randn(4)})
 |
 |      >>> df
 |         A  B         C
 |      0  1  1  0.362838
 |      1  1  2  0.227877
 |      2  2  3  1.267767
 |      3  2  4 -0.562860
 |
 |      The aggregation is for each column.
 |
 |      >>> df.groupby('A').agg('min')
 |         B         C
 |      A
 |      1  1  0.227877
 |      2  3 -0.562860
 |
 |      Multiple aggregations
 |
 |      >>> df.groupby('A').agg(['min', 'max'])
 |          B             C
 |        min max       min       max
 |      A
 |      1   1   2  0.227877  0.362838
 |      2   3   4 -0.562860  1.267767
 |
 |      Select a column for aggregation
 |
 |      >>> df.groupby('A').B.agg(['min', 'max'])
 |         min  max
 |      A
 |      1    1    2
 |      2    3    4
 |
 |      Different aggregations per column
 |
 |      >>> df.groupby('A').agg({'B': ['min', 'max'], 'C': 'sum'})
 |          B             C
 |        min max       sum
 |      A
 |      1   1   2  0.590716
 |      2   3   4  0.704907
 |
 |      See also
 |      --------
 |      pandas.DataFrame.groupby.apply
 |      pandas.DataFrame.groupby.transform
 |      pandas.DataFrame.aggregate
 |
 |  boxplot = boxplot_frame_groupby(grouped, subplots=True, column=None, fontsize=None, rot=0, grid=True, ax=None, figsize=None, layout=None, **kwds)
 |      Make box plots from DataFrameGroupBy data.
 |
 |      Parameters
 |      ----------
 |      grouped : Grouped DataFrame
 |      subplots :
 |          * ``False`` - no subplots will be used
 |          * ``True`` - create a subplot for each group
 |      column : column name or list of names, or vector
 |          Can be any valid input to groupby
 |      fontsize : int or string
 |      rot : label rotation angle
 |      grid : Setting this to True will show the grid
 |      ax : Matplotlib axis object, default None
 |      figsize : A tuple (width, height) in inches
 |      layout : tuple (optional)
 |          (rows, columns) for the layout of the plot
 |      kwds : other plotting keyword arguments to be passed to matplotlib boxplot
 |             function
 |
 |      Returns
 |      -------
 |      dict of key/value = group key/DataFrame.boxplot return value
 |      or DataFrame.boxplot return value in case subplots=figures=False
 |
 |      Examples
 |      --------
 |      >>> import pandas
 |      >>> import numpy as np
 |      >>> import itertools
 |      >>>
 |      >>> tuples = [t for t in itertools.product(range(1000), range(4))]
 |      >>> index = pandas.MultiIndex.from_tuples(tuples, names=['lvl0', 'lvl1'])
 |      >>> data = np.random.randn(len(index),4)
 |      >>> df = pandas.DataFrame(data, columns=list('ABCD'), index=index)
 |      >>>
 |      >>> grouped = df.groupby(level='lvl1')
 |      >>> boxplot_frame_groupby(grouped)
 |      >>>
 |      >>> grouped = df.unstack(level='lvl1').groupby(level=0, axis=1)
 |      >>> boxplot_frame_groupby(grouped, subplots=False)
 |
 |  count(self)
 |      Compute count of group, excluding missing values
 |
 |  nunique(self, dropna=True)
 |      Return DataFrame with number of distinct observations per group for
 |      each column.
 |
 |      .. versionadded:: 0.20.0
 |
 |      Parameters
 |      ----------
 |      dropna : boolean, default True
 |          Don't include NaN in the counts.
 |
 |      Returns
 |      -------
 |      nunique: DataFrame
 |
 |      Examples
 |      --------
 |      >>> df = pd.DataFrame({'id': ['spam', 'egg', 'egg', 'spam',
 |      ...                           'ham', 'ham'],
 |      ...                    'value1': [1, 5, 5, 2, 5, 5],
 |      ...                    'value2': list('abbaxy')})
 |      >>> df
 |           id  value1 value2
 |      0  spam       1      a
 |      1   egg       5      b
 |      2   egg       5      b
 |      3  spam       2      a
 |      4   ham       5      x
 |      5   ham       5      y
 |
 |      >>> df.groupby('id').nunique()
 |          id  value1  value2
 |      id
 |      egg    1       1       1
 |      ham    1       1       2
 |      spam   1       2       1
 |
 |      # check for rows with the same id but conflicting values
 |      >>> df.groupby('id').filter(lambda g: (g.nunique() > 1).any())
 |           id  value1 value2
 |      0  spam       1      a
 |      3  spam       2      a
 |      4   ham       5      x
 |      5   ham       5      y
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  all
 |
 |      Return whether all elements are True over requested axis
 |
 |      Parameters
 |      ----------
 |      axis : {index (0), columns (1)}
 |      skipna : boolean, default True
 |          Exclude NA/null values. If an entire row/column is NA, the result
 |          will be NA
 |      level : int or level name, default None
 |          If the axis is a MultiIndex (hierarchical), count along a
 |          particular level, collapsing into a Series
 |      bool_only : boolean, default None
 |          Include only boolean columns. If None, will attempt to use everything,
 |          then use only boolean data. Not implemented for Series.
 |
 |      Returns
 |      -------
 |      all : Series or DataFrame (if level specified)
 |
 |  any
 |
 |      Return whether any element is True over requested axis
 |
 |      Parameters
 |      ----------
 |      axis : {index (0), columns (1)}
 |      skipna : boolean, default True
 |          Exclude NA/null values. If an entire row/column is NA, the result
 |          will be NA
 |      level : int or level name, default None
 |          If the axis is a MultiIndex (hierarchical), count along a
 |          particular level, collapsing into a Series
 |      bool_only : boolean, default None
 |          Include only boolean columns. If None, will attempt to use everything,
 |          then use only boolean data. Not implemented for Series.
 |
 |      Returns
 |      -------
 |      any : Series or DataFrame (if level specified)
 |
 |  corr
 |      Compute pairwise correlation of columns, excluding NA/null values
 |
 |      Parameters
 |      ----------
 |      method : {'pearson', 'kendall', 'spearman'}
 |          * pearson : standard correlation coefficient
 |          * kendall : Kendall Tau correlation coefficient
 |          * spearman : Spearman rank correlation
 |      min_periods : int, optional
 |          Minimum number of observations required per pair of columns
 |          to have a valid result. Currently only available for pearson
 |          and spearman correlation
 |
 |      Returns
 |      -------
 |      y : DataFrame
 |
 |  corrwith
 |      Compute pairwise correlation between rows or columns of two DataFrame
 |      objects.
 |
 |      Parameters
 |      ----------
 |      other : DataFrame
 |      axis : {0 or 'index', 1 or 'columns'}, default 0
 |          0 or 'index' to compute column-wise, 1 or 'columns' for row-wise
 |      drop : boolean, default False
 |          Drop missing indices from result, default returns union of all
 |
 |      Returns
 |      -------
 |      correls : Series
 |
 |  cov
 |      Compute pairwise covariance of columns, excluding NA/null values
 |
 |      Parameters
 |      ----------
 |      min_periods : int, optional
 |          Minimum number of observations required per pair of columns
 |          to have a valid result.
 |
 |      Returns
 |      -------
 |      y : DataFrame
 |
 |      Notes
 |      -----
 |      `y` contains the covariance matrix of the DataFrame's time series.
 |      The covariance is normalized by N-1 (unbiased estimator).
 |
 |  diff
 |      1st discrete difference of object
 |
 |      Parameters
 |      ----------
 |      periods : int, default 1
 |          Periods to shift for forming difference
 |      axis : {0 or 'index', 1 or 'columns'}, default 0
 |          Take difference over rows (0) or columns (1).
 |
 |          .. versionadded: 0.16.1
 |
 |      Returns
 |      -------
 |      diffed : DataFrame
 |
 |  dtypes
 |      Return the dtypes in this object.
 |
 |  fillna
 |      Fill NA/NaN values using the specified method
 |
 |      Parameters
 |      ----------
 |      value : scalar, dict, Series, or DataFrame
 |          Value to use to fill holes (e.g. 0), alternately a
 |          dict/Series/DataFrame of values specifying which value to use for
 |          each index (for a Series) or column (for a DataFrame). (values not
 |          in the dict/Series/DataFrame will not be filled). This value cannot
 |          be a list.
 |      method : {'backfill', 'bfill', 'pad', 'ffill', None}, default None
 |          Method to use for filling holes in reindexed Series
 |          pad / ffill: propagate last valid observation forward to next valid
 |          backfill / bfill: use NEXT valid observation to fill gap
 |      axis : {0 or 'index', 1 or 'columns'}
 |      inplace : boolean, default False
 |          If True, fill in place. Note: this will modify any
 |          other views on this object, (e.g. a no-copy slice for a column in a
 |          DataFrame).
 |      limit : int, default None
 |          If method is specified, this is the maximum number of consecutive
 |          NaN values to forward/backward fill. In other words, if there is
 |          a gap with more than this number of consecutive NaNs, it will only
 |          be partially filled. If method is not specified, this is the
 |          maximum number of entries along the entire axis where NaNs will be
 |          filled. Must be greater than 0 if not None.
 |      downcast : dict, default is None
 |          a dict of item->dtype of what to downcast if possible,
 |          or the string 'infer' which will try to downcast to an appropriate
 |          equal type (e.g. float64 to int64 if possible)
 |
 |      See Also
 |      --------
 |      reindex, asfreq
 |
 |      Returns
 |      -------
 |      filled : DataFrame
 |
 |  hist
 |      Draw histogram of the DataFrame's series using matplotlib / pylab.
 |
 |      Parameters
 |      ----------
 |      data : DataFrame
 |      column : string or sequence
 |          If passed, will be used to limit data to a subset of columns
 |      by : object, optional
 |          If passed, then used to form histograms for separate groups
 |      grid : boolean, default True
 |          Whether to show axis grid lines
 |      xlabelsize : int, default None
 |          If specified changes the x-axis label size
 |      xrot : float, default None
 |          rotation of x axis labels
 |      ylabelsize : int, default None
 |          If specified changes the y-axis label size
 |      yrot : float, default None
 |          rotation of y axis labels
 |      ax : matplotlib axes object, default None
 |      sharex : boolean, default True if ax is None else False
 |          In case subplots=True, share x axis and set some x axis labels to
 |          invisible; defaults to True if ax is None otherwise False if an ax
 |          is passed in; Be aware, that passing in both an ax and sharex=True
 |          will alter all x axis labels for all subplots in a figure!
 |      sharey : boolean, default False
 |          In case subplots=True, share y axis and set some y axis labels to
 |          invisible
 |      figsize : tuple
 |          The size of the figure to create in inches by default
 |      layout : tuple, optional
 |          Tuple of (rows, columns) for the layout of the histograms
 |      bins : integer, default 10
 |          Number of histogram bins to be used
 |      kwds : other plotting keyword arguments
 |          To be passed to hist function
 |
 |  idxmax
 |      Return index of first occurrence of maximum over requested axis.
 |      NA/null values are excluded.
 |
 |      Parameters
 |      ----------
 |      axis : {0 or 'index', 1 or 'columns'}, default 0
 |          0 or 'index' for row-wise, 1 or 'columns' for column-wise
 |      skipna : boolean, default True
 |          Exclude NA/null values. If an entire row/column is NA, the result
 |          will be first index.
 |
 |      Returns
 |      -------
 |      idxmax : Series
 |
 |      Notes
 |      -----
 |      This method is the DataFrame version of ``ndarray.argmax``.
 |
 |      See Also
 |      --------
 |      Series.idxmax
 |
 |  idxmin
 |      Return index of first occurrence of minimum over requested axis.
 |      NA/null values are excluded.
 |
 |      Parameters
 |      ----------
 |      axis : {0 or 'index', 1 or 'columns'}, default 0
 |          0 or 'index' for row-wise, 1 or 'columns' for column-wise
 |      skipna : boolean, default True
 |          Exclude NA/null values. If an entire row/column is NA, the result
 |          will be NA
 |
 |      Returns
 |      -------
 |      idxmin : Series
 |
 |      Notes
 |      -----
 |      This method is the DataFrame version of ``ndarray.argmin``.
 |
 |      See Also
 |      --------
 |      Series.idxmin
 |
 |  mad
 |
 |      Return the mean absolute deviation of the values for the requested axis
 |
 |      Parameters
 |      ----------
 |      axis : {index (0), columns (1)}
 |      skipna : boolean, default True
 |          Exclude NA/null values. If an entire row/column is NA, the result
 |          will be NA
 |      level : int or level name, default None
 |          If the axis is a MultiIndex (hierarchical), count along a
 |          particular level, collapsing into a Series
 |      numeric_only : boolean, default None
 |          Include only float, int, boolean columns. If None, will attempt to use
 |          everything, then use only numeric data. Not implemented for Series.
 |
 |      Returns
 |      -------
 |      mad : Series or DataFrame (if level specified)
 |
 |  pct_change
 |      Percent change over given number of periods.
 |
 |      Parameters
 |      ----------
 |      periods : int, default 1
 |          Periods to shift for forming percent change
 |      fill_method : str, default 'pad'
 |          How to handle NAs before computing percent changes
 |      limit : int, default None
 |          The number of consecutive NAs to fill before stopping
 |      freq : DateOffset, timedelta, or offset alias string, optional
 |          Increment to use from time series API (e.g. 'M' or BDay())
 |
 |      Returns
 |      -------
 |      chg : NDFrame
 |
 |      Notes
 |      -----
 |
 |      By default, the percentage change is calculated along the stat
 |      axis: 0, or ``Index``, for ``DataFrame`` and 1, or ``minor`` for
 |      ``Panel``. You can change this with the ``axis`` keyword argument.
 |
 |  quantile
 |      Return values at the given quantile over requested axis, a la
 |      numpy.percentile.
 |
 |      Parameters
 |      ----------
 |      q : float or array-like, default 0.5 (50% quantile)
 |          0 <= q <= 1, the quantile(s) to compute
 |      axis : {0, 1, 'index', 'columns'} (default 0)
 |          0 or 'index' for row-wise, 1 or 'columns' for column-wise
 |      interpolation : {'linear', 'lower', 'higher', 'midpoint', 'nearest'}
 |          .. versionadded:: 0.18.0
 |
 |          This optional parameter specifies the interpolation method to use,
 |          when the desired quantile lies between two data points `i` and `j`:
 |
 |          * linear: `i + (j - i) * fraction`, where `fraction` is the
 |            fractional part of the index surrounded by `i` and `j`.
 |          * lower: `i`.
 |          * higher: `j`.
 |          * nearest: `i` or `j` whichever is nearest.
 |          * midpoint: (`i` + `j`) / 2.
 |
 |      Returns
 |      -------
 |      quantiles : Series or DataFrame
 |
 |          - If ``q`` is an array, a DataFrame will be returned where the
 |            index is ``q``, the columns are the columns of self, and the
 |            values are the quantiles.
 |          - If ``q`` is a float, a Series will be returned where the
 |            index is the columns of self and the values are the quantiles.
 |
 |      Examples
 |      --------
 |
 |      >>> df = DataFrame(np.array([[1, 1], [2, 10], [3, 100], [4, 100]]),
 |                         columns=['a', 'b'])
 |      >>> df.quantile(.1)
 |      a    1.3
 |      b    3.7
 |      dtype: float64
 |      >>> df.quantile([.1, .5])
 |             a     b
 |      0.1  1.3   3.7
 |      0.5  2.5  55.0
 |
 |  rank
 |      Compute numerical data ranks (1 through n) along axis. Equal values are
 |      assigned a rank that is the average of the ranks of those values
 |
 |      Parameters
 |      ----------
 |      axis : {0 or 'index', 1 or 'columns'}, default 0
 |          index to direct ranking

In [37]:
watchs = result.groupby('Movie ID').agg(['count'])

In [39]:
print(watchs.head())

         User ID Rating Rating Timestamp Movie Title Genre
           count  count            count       count count
Movie ID
131            1      1                1           1     1
417           22     22               22          22    22
2354           1      1                1           1     1
3863           1      1                1           1     1
4099           2      2                2           2     2

In [40]:
watchs2 = watchs['Rating']['count']

In [41]:
print(watchs2.head())

Movie ID
131      1
417     22
2354     1
3863     1
4099     2
Name: count, dtype: int64

In [43]:
print(bests.head())

          User ID  Rating  Rating Timestamp
Movie ID
7134690   30110.0    10.0      1.524974e+09
3799996    2139.0    10.0      1.431606e+09
2381958   31836.0    10.0      1.395280e+09
2380390   37135.0    10.0      1.410507e+09
2379090   33877.0    10.0      1.372359e+09

### 7 满分电影中，按照观看次数排序

In [45]:
bests.index

Int64Index([7134690, 3799996, 2381958, 2380390, 2379090,  110852, 2377194,
            2375037,   45907, 2374002,
            ...
              50263, 4612116, 8242160,   75793, 1747960,   75744,   50818,
             184512, 1737122,   24316],
           dtype='int64', name='Movie ID', length=501)

In [47]:
watchs2.index

Int64Index([     131,      417,     2354,     3863,     4099,     4100,
                4101,     4210,     4395,     4518,
            ...
            10726756, 10737904, 10810424, 10847194, 10847306, 10847330,
            10895830, 10952752, 10971520, 10977680],
           dtype='int64', name='Movie ID', length=10740)

In [49]:
bests[bests.index==7134690]

          User ID  Rating  Rating Timestamp
Movie ID
7134690   30110.0    10.0      1.524974e+09

In [50]:
watchs2[watchs2.index==7134690]

Movie ID
7134690    1
Name: count, dtype: int64

In [54]:
bests_most = bests.join(watchs2)

In [55]:
bests_most.sort_values(by='count',ascending=False)

               User ID  Rating  Rating Timestamp  count
Movie ID
4921860   36898.187500    10.0      1.445855e+09     48
5262972   29330.607143    10.0      1.452208e+09     28
6662050   22627.409091    10.0      1.555754e+09     22
4448444   29148.600000    10.0      1.484094e+09      5
2254364   33191.750000    10.0      1.393409e+09      4
4107858   40613.500000    10.0      1.458871e+09      4
2974050   26035.500000    10.0      1.494164e+09      4
6467380   21917.000000    10.0      1.487992e+09      3
69847     31107.666667    10.0      1.381879e+09      3
865561    17248.333333    10.0      1.370224e+09      3
2375037   45014.666667    10.0      1.370802e+09      3
3640822   23716.000000    10.0      1.417384e+09      3
158446    23608.000000    10.0      1.456612e+09      3
33867     35914.500000    10.0      1.375305e+09      2
23251     46840.500000    10.0      1.385833e+09      2
25641     14082.000000    10.0      1.411103e+09      2
23613     19906.000000    10.0      1.392710e+09      2
45708     20185.500000    10.0      1.431008e+09      2
107080    29255.000000    10.0      1.454909e+09      2
3210258   32577.500000    10.0      1.468245e+09      2
1648201   20337.000000    10.0      1.372987e+09      2
109129    34373.500000    10.0      1.455138e+09      2
69841     49961.000000    10.0      1.376697e+09      2
57449      3031.500000    10.0      1.420186e+09      2
4306308   34340.000000    10.0      1.423580e+09      2
3257092   38079.500000    10.0      1.531360e+09      2
1791504   44470.500000    10.0      1.396701e+09      2
6907804   29319.000000    10.0      1.514906e+09      2
82926     32277.500000    10.0      1.446688e+09      2
1500906   49961.000000    10.0      1.387768e+09      2
...                ...     ...               ...    ...
97116     49702.000000    10.0      1.371185e+09      1
43286     48240.000000    10.0      1.394940e+09      1
93215     10566.000000    10.0      1.514767e+09      1
3450290   43546.000000    10.0      1.402650e+09      1
3116248   11068.000000    10.0      1.376806e+09      1
3125066   50170.000000    10.0      1.404855e+09      1
40795     56723.000000    10.0      1.378363e+09      1
3142764   58311.000000    10.0      1.397653e+09      1
95875     27820.000000    10.0      1.455172e+09      1
93011     46264.000000    10.0      1.392123e+09      1
3401190   59609.000000    10.0      1.403980e+09      1
42634     27820.000000    10.0      1.364188e+09      1
93200      3954.000000    10.0      1.393094e+09      1
3093732   58361.000000    10.0      1.491098e+09      1
3176074   58816.000000    10.0      1.403759e+09      1
3181128    2371.000000    10.0      1.379112e+09      1
3477982   25284.000000    10.0      1.410724e+09      1
3181962   51971.000000    10.0      1.379571e+09      1
93228      9045.000000    10.0      1.380218e+09      1
41509     34166.000000    10.0      1.387140e+09      1
93596     31251.000000    10.0      1.405829e+09      1
94364     41270.000000    10.0      1.398396e+09      1
3314696   29443.000000    10.0      1.389040e+09      1
41671      7367.000000    10.0      1.380810e+09      1
3241906   22361.000000    10.0      1.390991e+09      1
41718     48240.000000    10.0      1.371125e+09      1
3302654    6103.000000    10.0      1.516494e+09      1
3179372   43188.000000    10.0      1.458096e+09      1
3469386   34700.000000    10.0      1.402351e+09      1
24316      5268.000000    10.0      1.397506e+09      1

[501 rows x 4 columns]

In [56]:
movies[movies['Movie ID'] == 4921860]

       Movie ID                 Movie Title                        Genre
30004   4921860  MSG 2 the Messenger (2015)  Comedy|Drama|Fantasy|Horror